<div style="padding: 20px;" class="background">
    <div class="tableContainer">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <h2>Listado de ingresos y egresos</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill" style="margin-right: 16px;">
                            <mat-label>Fecha inicio</mat-label>
                            <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio"
                                (dateChange)="filtrarPorFechas()" name="fechaInicio">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Fecha fin</mat-label>
                            <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin"
                                (dateChange)="filtrarPorFechas()" name="fechaFin">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                        <span *ngIf="incomes">
                            <button class="btn btn-secondary" (click)="downloadPDF()">
                                Descargar PDF
                                <svg xmlns="http://www.w3.org/2000/svg" style="margin-left: 5px;" width="20" height="20" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                                </svg>
                            </button>
                        </span>
                    </div>
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-success" role="alert">
                                    <h5>Ingresos: <b>${{totalIncommes | number:'1.0-2' }}</b></h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-danger" role="alert">
                                    <h5>Gastos: <b>${{totalBills | number:'1.0-2' }}</b></h5>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-primary" role="alert">
                                    <h5>Total: <b>${{totalIncommes-totalBills | number:'1.0-2' }}</b></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col" #chartContainer>
                        <ngx-charts-bar-vertical [results]="chartData" [view]="chartOptions.view"
                            [scheme]="chartOptions.colorScheme" [xAxis]="chartOptions.xAxis"
                            [yAxis]="chartOptions.yAxis" [xAxisLabel]="chartOptions.xAxisLabel"
                            [yAxisLabel]="chartOptions.yAxisLabel" [animations]="chartOptions.animations"
                            [roundEdges]="true">
                        </ngx-charts-bar-vertical>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4>Listado de ingresos</h4>
                <div class="table-responsive">
                    <table class="table table-hover tableContainer">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Aportador</th>
                                <th scope="col">Concepto</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let income of incomes">
                                <th scope="row">{{income.IncomeId}}</th>
                                <td>{{income.UserFullName}}</td>
                                <td>{{income.Description}}</td>
                                <td>${{income.Amount}}</td>
                                <td>{{income.Date | date: "mediumDate":"":"es" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <h4>Listado de gastos</h4>
                <div class="table-responsive">
                    <table class="table table-hover tableContainer">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Registró</th>
                                <th scope="col">Concepto</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Fecha</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bill of bills">
                                <th scope="row">{{bill.billId}}</th>
                                <td>{{bill.UserFullName}}</td>
                                <td>{{bill.description}}</td>
                                <td>${{bill.Amount}}</td>
                                <td>{{bill.Date | date: "mediumDate":"":"es" }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>