<mat-tab-group (selectedTabChange)="onTabChange($event)" class="background">
    <mat-tab label="Registrar" (click)="ngOnInit()" *ngIf="hasClaim('Crear Comentarios')">
        <div class="mat-elevation-z2 formContainer">
            <h2>Comentarios</h2>
            <form [formGroup]="CommentsForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col">
                        <mat-form-field appearance="fill" class="w-100" style="width: 100%;">
                            <mat-label>Título</mat-label>
                            <input matInput formControlName="Title" type="text" required>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field appearance="fill" class="w-100" style="width: 100%;">
                            <mat-label>Mensaje</mat-label>
                            <input matInput formControlName="Message" type="text" required>
                        </mat-form-field>
                    </div>
                </div>
                <button class="btn btn-success" type="submit">Registrar</button>
            </form>
        </div>
    </mat-tab>
    <mat-tab label="Listado" (click)="ngOnInit()" *ngIf="hasClaim('Ver Comentarios')">
        <div style="padding: 20px;" class="tableContainer">
            <h1>Listado de comentarios</h1>            
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Residente</th>
                        <th scope="col">Título</th>
                        <th scope="col">Comentario</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let comment of comments">
                        <th scope="row">{{comment.RecordId}}</th>
                        <td>{{comment.UserFullName}}</td>
                        <td>{{comment.Title}}</td>
                        <td>{{comment.Message}}</td>
                        <td>{{comment.CreatedOn | date: "fullDate":"":"es" }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteComment(comment)" *ngIf="hasClaim('Eliminar Comentarios')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>