<mat-tab-group (selectedTabChange)="onTabChange($event)" class="background">
    <mat-tab label="Registrar" (click)="getIncomes()" *ngIf="hasClaim('Crear Ingresos')">
        <div class="mat-elevation-z2 formContainer">
            <h2>Registro de Ingresos</h2>
            <mat-radio-group [(ngModel)]="formType" name="formType" class="mb-3"
                style="margin-bottom: 16px; display: flex; gap: 20px;">
                <mat-radio-button value="mantenimiento">Pago de mantenimiento</mat-radio-button>
                <mat-radio-button value="otros">Otros</mat-radio-button>
            </mat-radio-group>

            <div *ngIf="formType === 'mantenimiento'">
                <form [formGroup]="incomesForm" (ngSubmit)="onSubmit()">
                    <div class="row">

                        <div class="col">
                            <mat-form-field appearance="fill" class="w-100" style="width: 100%;">
                                <mat-label>Aportador</mat-label>
                                <mat-select formControlName="userId" required
                                    (selectionChange)="getCuotasByUser($event.value)">
                                    <mat-option *ngFor="let user of users" [value]="user.UserId">
                                        {{user.FirstName}} {{user.LastName}} | Casa {{user.HouseNumber}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col" *ngIf="balanceByUser">
                            <mat-form-field appearance="fill" class="w-100" style="width: 100%;">
                                <mat-label>Concepto</mat-label>
                                <mat-select formControlName="concept" required>
                                    <mat-option *ngFor="let balance of balanceByUser" [value]="balance">
                                        {{balance.Concept}}, {{balance.Description}}: ${{balance.Amount}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <button class="btn btn-success" type="submit">Registrar</button>
                </form>
            </div>
            <div *ngIf="formType === 'otros'">
                <form [formGroup]="incomesForm" (ngSubmit)="onSubmit()">
                    <div class="row">
                        <div class="col">
                            <mat-form-field appearance="fill" class="w-100" style="width: 100%;">
                                <mat-label>Descripción</mat-label>
                                <input matInput formControlName="description" type="text" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="w-100" style="width: 100%;">
                                <mat-label>Monto</mat-label>
                                <span matPrefix>$&nbsp;</span>
                                <input matInput formControlName="amount" type="number" required>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="w-100" style="width: 100%;">
                                <mat-label>Aportador</mat-label>
                                <mat-select formControlName="userId" required>
                                    <mat-option *ngFor="let user of users" [value]="user.UserId">
                                        {{user.FirstName}} {{user.LastName}} | Casa {{user.HouseNumber}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col">
                            <mat-form-field appearance="fill" class="w-100" style="width: 100%;">
                                <mat-label>Concepto</mat-label>
                                <mat-select formControlName="concept" required>
                                    <mat-option value="Mensualidad">Mensualidad</mat-option>
                                    <mat-option value="Multa">Multa</mat-option>
                                    <mat-option value="Otros">Otros</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <button class="btn btn-success" type="submit">Registrar</button>
                </form>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Listado" (click)="getIncomes()" *ngIf="hasClaim('Ver Ingresos')">
        <div style="padding: 20px;" class="tableContainer">
            <h2>Listado de ingresos</h2>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="fill" style="width: auto; margin-right: 10px;">
                        <mat-label>Fecha inicio</mat-label>
                        <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaInicio"
                            (dateChange)="filtrarPorFechas()" name="fechaInicio">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: auto;">
                        <mat-label>Fecha fin</mat-label>
                        <input matInput [matDatepicker]="picker2" [(ngModel)]="fechaFin"
                            (dateChange)="filtrarPorFechas()" name="fechaFin">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <table class="table table-hover">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Aportador</th>
                        <th scope="col">Concepto</th>
                        <th scope="col">Monto</th>
                        <th scope="col">Registró</th>
                        <th scope="col">Status</th>
                        <th scope="col">Aprobado por</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let income of pagedIncomes">
                        <th scope="row">{{income.IncomeId}}</th>
                        <td>{{income.UserFullName}}</td>
                        <td>{{income.Concept}}, {{income.Description}}</td>
                        <td>${{income.Amount}}</td>
                        <td>{{income.RegisteredByFullName}}</td>
                        <td>
                            <div *ngIf="hasClaim('Actualizar Ingresos'); else viewOnly">
                                <mat-form-field appearance="fill" class="w-100" [ngClass]="{
                                    'status-registrado': income.Status === 'Registrado',
                                    'status-aprobado': income.Status === 'Aprobado'
                                    }" style="min-width: 120px;">
                                    <mat-select [value]="income.Status"
                                        (selectionChange)="updateStatus(income, $event.value)">
                                        <mat-option *ngFor="let status of statuses" [value]="status">
                                            {{ status }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <ng-template #viewOnly>
                                <div *ngIf="income.Status == 'Registrado'">
                                    <div class="alert alert-warning" role="alert">
                                        {{income.Status}}
                                    </div>
                                </div>
                                <div *ngIf="income.Status == 'Aprobado'">
                                    <div class="alert alert-success" role="alert">
                                        {{income.Status}}
                                    </div>
                                </div>
                            </ng-template>
                        </td>
                        <td>
                            <ng-container *ngIf="income.ApprovedByFullName; else noApproved">
                                {{ income.ApprovedByFullName }}
                            </ng-container>
                            <ng-template #noApproved>
                                <span class="text-muted">No aprobado</span>
                            </ng-template>
                        </td>
                        <td>{{income.Date | date: "fullDate":"":"es" }}</td>
                        <td>
                            <button class="btn btn-danger" (click)="deleteIncome(income)"
                                *ngIf="hasClaim('Eliminar Ingresos')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-center align-items-center mb-3">
                <label class="me-2">Elementos por página:</label>
                <select class="form-select w-auto" [(ngModel)]="pageSize" (change)="onPageSizeChange()">
                    <option [value]="5">5</option>
                    <option [value]="10">10</option>
                    <option [value]="20">20</option>
                    <option [value]="50">50</option>
                </select>
            </div>

            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item" [class.disabled]="currentPage === 1">
                        <button class="page-link" (click)="goToPage(currentPage - 1)">Anterior</button>
                    </li>
                    <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
                        <button class="page-link" (click)="goToPage(page)">{{ page }}</button>
                    </li>
                    <li class="page-item" [class.disabled]="currentPage === totalPages">
                        <button class="page-link" (click)="goToPage(currentPage + 1)">Siguiente</button>
                    </li>
                </ul>
            </nav>
        </div>
    </mat-tab>
</mat-tab-group>