.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #014709;
  color: white;
}

.sidenav-container {
  height: 100vh;
  margin-top: 64px; /* altura del toolbar */
}

.content {
  background-image: url('/frontend/sac-fraccionamientos/src/assets/concrete-wall.png');
}